<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="dependencyVersion" value="lowest" />
    <add key="repositoryPath" value="packages" />
  </config>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageRestore>
    <add key="enabled" value="true" />
    <add key="automatic" value="true" />
  </packageRestore>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="mtb.me buildtools-core" value="https://nuget1.mtb.me/f/buildtools-core/api/v2/" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
  <bindingRedirects>
    <add key="skip" value="false" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="1" />
    <add key="disabled" value="true" />
  </packageManagement>
</configuration>